html {
  background-color: #fbfbfb;
  overflow-y: auto;
  -ms-overflow-style: none;
  scrollbar-width: none;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: default;
}
a {
  text-decoration: none;
  color: black;
}
.header-container {
  display: flex;
  justify-content: space-between;
  padding: 5px 40px;
  align-items: center;
  background-color: white;
  margin-bottom: 20px;
  box-shadow: 0 2px 2px -2px rgba(0, 0, 0, 0.2);
}
.header-items {
  display: flex;
  gap: 6rem;
  font-size: 20px;
  list-style-type: none;
  align-items: center;
}
.header-items li:hover {
  cursor: pointer;
  color: #b82132;
  text-decoration-thickness: 3px;
  font-weight: bold;
}
.logo {
  width: 80px;
  height: 60px;
  background-color: transparent;
}
.body-container {
  padding: 0 20px;
}
.search-bar-container {
  display: flex;
  justify-content: center;
}
.search-bar {
  width: 40rem;
  height: 3rem;
  border-radius: 30px;
  background-color: aliceblue;
  border-color: azure;
  border: none;
  padding: 0 20px;
}
.search-bar:focus {
  outline: none;
}
.card-container {
  width: 20rem;
  height: fit-content;
  padding: 8px;
  margin: 10px;
  border-radius: 20px;
  cursor: pointer;
  margin-bottom: 20px;
}
.card-container:hover {
  width: 19.5rem;
}
.card-image {
  object-fit: scale-down;
  width: 100%;
  border-radius: 20px;
}
.body-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  padding: 30px 0;
}
.rating {
  background-color: green;
  width: auto;
  color: white;
  justify-content: end;
  border-radius: 100px;
  padding: 3px 10px;
  position: absolute;
}
.name {
  font-size: 1.5rem;
  margin: 2px 0;
}
.areaName {
  font-size: 1.1rem;
}
.card-details {
  display: flex;
  flex-direction: column;
  gap: 5;
}
.time {
  color: #b82132;
}
.cost {
  width: auto;
  font-weight: bold;
}
.card-last-line {
  margin-top: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.shimmer-card-container {
  width: 20rem;
  height: 30rem;
  padding: 8px 20px;
  margin: 10px;
  border-radius: 20px;
}
.shimmer-card-image {
  width: full;
  height: 60%;
  background-color: #dddddd;
  padding: 8px;
  margin: 10px;
  border-radius: 20px;
}
.shimmer-card-text {
  width: full;
  height: 2rem;
  background-color: #dddddd;
  border-radius: 30px;
  margin: 20px;
}
.shimmer-card-text-half {
  width: 50%;
  height: 2rem;
  background-color: #dddddd;
  border-radius: 30px;
  margin: 20px;
}
.ri-shopping-cart-line {
  font-size: larger;
}
.error-page {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 60;
  align-items: center;
  justify-content: center;
  margin: auto;
}
.error-img {
  width: 70vw;
  height: fit-content;
}
.error-button {
  padding: 10px 30px;
  font-size: large;
  background-color: #f9cb43;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
}
.menu-section {
  width: 70vw;
  margin: auto;
}
.menu-shimmer {
  background-color: #dddddd;
  height: 10rem;
  margin: 30px auto;
  border-radius: 30px;
}
.headline {
  font-size: 0.7rem;
  color: #929aab;
}
.headline-name {
  color: #45474b;
}
.details-box {
  display: flex;
  justify-content: space-between;
  border: solid 1px #f7f7f7;
  padding: 10px 20px;
  border-radius: 30px;
  align-items: center;
  box-shadow: 0 2px 2px 2px rgba(0, 0, 0, 0.2);
}
.details-box-img {
  height: fit-content;
  width: 15%;
  border-radius: 30px;
}
.details-box-rating {
  font-size: large;
}
.details-box-cost {
  font-weight: 600;
  font-size: large;
}
.details-box-city {
  color: #606470;
}
.details-box-time {
  color: #b82132;
  font-family: Georgia, "Times New Roman", Times, serif;
}
.manu-section {
  margin: 20px 0;
  padding: 0 20px;
  background-color: #f7f7f7;
  border-radius: 10px;
  cursor: pointer;
}
.menu-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.arrow-btn {
  background-color: #f7f7f7;
  border: none;
  cursor: pointer;
  font-size: large;
}
.dish-container {
  border-bottom: 1px solid #929aab;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.dish-add-btn {
  background-color: #fbfbfb;
  color: #5cb338;
  border: none;
  font-size: 1rem;
  border: 1px solid #3e7b27;
  margin-right: 10px;
  padding: 5px 20px;
  border-radius: 10px;
  cursor: pointer;
}
.dish-add-btn:hover {
  box-shadow: 2px 2px #3e7b27;
}
.old-price {
  text-decoration: line-through;
}
.image-container {
  position: relative;
}

.veg-label {
  position: absolute;
  top: 18px;
  right: 18px;
  background-color: lightgreen;
  color: black;
  padding: 4px 8px;
  border-radius: 12px;
  font-size: 14px;
  color: black;
  font-weight: bold;
}
.cart-length {
  background-color: #b82132;
  padding: 2px 5px;
  border-radius: 10px;
  color: white;
  font-size: small;
  position: absolute;
}
.clear-cart-button {
  position: absolute;
  right: 3rem;
  padding: 8px 18px;
  background-color: #f9cb43;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
}
.cart-body {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.cart-card-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffffff;
  padding: 10px 20px;
  box-shadow: 0 2px 2px 0px rgba(0, 0, 0, 0.2);
  margin: 20px;
}
.cart-card-left {
  display: flex;
  gap: 5rem;
}
.cart-card-image {
  width: 15%;
  object-fit: cover;
  border-radius: 50%;
}
.cart-card-price {
  font-weight: bold;
  font-size: large;
}
.proceed-to-checkout {
  padding: 10px 30px;
  font-size: large;
  background-color: #f9cb43;
  color: black;
  font-weight: bold;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  margin-top: 20px;
}
.payment-page-body {
  width: 90vw;
  height: 80vh;
  display: flex;
  flex-direction: column;
  gap: 60;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* For very small screens (less than 480px) */
@media (max-width: 480px) {
  .cart-card-image {
    width: 40%;
    margin: auto;
    height: fit-content;
  }
  .cart-card-left {
    gap: 1rem;
  }
  .details-box-img {
    object-fit: cover;
    width: 30%;
    border-radius: 50%;
  }
}
